.gradio-page 


#guild-box {background-color:rgb(33, 45, 61)}


.terminal textarea {font-size: 15px !important; font-family:monospace;}
#terminal-background {background-color: #181d39}


.guild-info textarea {font-size:25px !important; font-family:sans-serif;}
#guild-background {background-color:rgb(27, 37, 50)}
.guild-description textarea {font-size:15px !important; font-family:Arial}

.restart {font-size:30px !important; font-family:sans-serif}
.imwrap {block-size:50% !important;}